*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header h1,
section h2 {
    font-family: 'Bungee', cursive;
}

body {
    font-family: 'Roboto', sans-serif;
}

header{
    position: absolute;
    width: 1366px;
    height: 54px;
    left: 0px;
    top: 0px;
    background: #055FC9;
    border-radius: 0px 0px 16px 16px;
}

header nav li{
    display: inline;
    margin-left: 16px;
    font-size: 18px;
}

header nav input{
    width: 500px;
    height: 32px;
    border-radius: 16px;
    border: none;
    background: #ecf0f1;
    color: #055FC9;
    font-size: 16px;
    text-align: center;
    margin-top: 8px;
    margin-left: 16px;
    margin-right: 300px;
}

.container {
    max-width: 1350px;
    align-items: center;
    margin: 0 auto;
}

.container img{
    height: 20px;
}

.container #logoLoja{
    margin-left: 40px;
    width: 166px;
    height: 49px;
    left: 628px;
    top: 3px;
    background: url(Logo.png);
}

.container #lupa{
    width: 16px;
    height: 16px;
    left: 800px;
    top: 3px;
    background: url(lupa.png);
}

.banner img{
    position: absolute;
    width: 1288px;
    height: 618px;
    left: 39px;
    top: 112px;
    background: url(1.png);
    border-radius: 16px;
}

header .container,
section .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brands-list img{
    height: 24px;
}
.brands-list li{
    display: inline;
    margin: 8px;
}

section .container{
    align-items: flex-start;
}

section{
    padding: 24px 0;
}

section h2{
    margin-bottom: 16px;
}

section{
    color: #ffffff;
}

#contact .container{
    display: block;
}

.contact-methods{
    display: flex;
    justify-content: space-between;
}

.social-links img{
    height: 24px;
}

.social-links li{
    display: inline;
    margin-right: 8px;
}

.social-links li a{
    text-decoration: none;
}

footer{
    position: absolute;
    width: 1366px;
    height: 661px;
    left: 0px;
    top: 1339px;
    background: rgba(5, 95, 201, 0.8);
    border-radius: 16px 16px 0px 0px;
}

form input,
form textarea,
form button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    
}

form input{
    display: flex;
    margin-bottom: 6px;
    border: none;
    width: 333px;
    height: 35px;
    left: 955px;
    top: 1611px;
    background: #EEEEEE;
    border-radius: 16px;
    text-align: center;
}

form textarea{
    width: 333px;
    height: 90px;
    left: 955px;
    top: 1658px;
    background: #EEEEEE;
    border-radius: 16px;
    text-align: center;
}

form button{
    border: none;
    width: 336px;
    height: 44px;
    left: 955px;
    top: 1760px;
    background: #000000;
    border-radius: 16px;
    color: #fff;
    text-align: center;
}

form button:hover{
    background-color: #333333;
}