*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html{
    overflow-x: hidden;
}

.container{
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header{
    background-color: #192a56;
    padding: 16px;
    color: #fff;
}

header > .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
}

.container #logoLoja{
    margin-left: 40px;
    width: 20%;
}

#carrossel_imagens img{
    width: 100%;
}

nav{
    background-color: #575fcf;
    padding: 16px 0;
    display: none;
}

nav li{
    list-style: none;
    display: inline;
    margin-right: 16px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

nav li a{
    color: #fff;
    text-decoration: none;
}

.menu_hamburger{
    width: 32px;
    cursor: pointer;
}

.menu_hamburger span{
    height: 2px;
    width: 100%;
    background-color: #fff;
    display: block;
    margin-bottom: 4px;
}

.container_flex{
    display: flex;
}

.contact-methods{
    display: flex;
    justify-content: space-between;
}

.texto h2, .texto p{
    margin: 16px;
    text-align: justify;
}

.texto h2{
    margin-top: 0;
}

section{
    padding: 48px 0;
}

section h2{
    margin-bottom: 16px;
}

.cabecalho_categorias{
    display: flex;
}

.cabecalho_categorias a{
    margin-top: 10px;
    margin-left: 75%;
    text-decoration: none;
    color: #000000;
}

.cabecalho_categorias a:hover{
    color: #00C2CB;
}

#linha span{
    height: 4px;
    width: 30%;
    background-color: #00C2CB;
    display: block;
    margin-bottom: 4px;
    border-radius: 16px;
}

.categorias{
    flex-wrap: wrap;
    justify-content: space-between;
}

.categorias td{
    padding: 8px;
}


.categorias td a,
.lista_produtos li a{
    text-align: center;
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
}

.categorias td img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    margin-bottom: 16px;
    cursor: pointer;
}

.categorias td h3:hover{
    color: #00C2CB;
    cursor: pointer;
}

#efeito{position:relative;padding:4px;background-color:#fff}
#efeito:hover{top:-2px;box-shadow:0 2px 2px #666;border-radius: 16px}

.lista_produtos{
    flex-wrap: wrap;
}

.lista_produtos li{
    list-style: none;
    max-width: 30%;
    margin-bottom: 24px;
}

.lista_produtos li img{
    max-width: 100%;
}

.lista_produtos li a h3{
    margin: 16px 0;
}

.item_central{
    margin: 0 5%;
}

.lista_produtos li button{
    display: block;
    width: 100%;
    padding: 8px;
    border: none;
    background-color: #00C2CB;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 6px;
    margin-top: 8px;
}

.lista_produtos li button:hover{
    background-color: #192a56;
}

ul li .preco del{
    margin-left: 20%;
}

strong, .preco{
    margin: 16px 16px;
    display: inline;
    color: green;
}

.preco del{
    color: #ff0000;
    font-size: 14px;
}

footer{
    position: relative;
    width: 100%;
    height: 661px;
    left: 0px;
    top: 1339px;
    background: rgba(5, 95, 201, 0.8);
    border-radius: 16px 16px 0px 0px;
}

form input,
form textarea,
form button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
}

form input{
    display: flex;
    margin-bottom: 6px;
    border: none;
    width: 333px;
    height: 35px;
    left: 955px;
    top: 1611px;
    background: #EEEEEE;
    border-radius: 16px;
    text-align: center;
}

form textarea{
    width: 333px;
    height: 90px;
    left: 955px;
    top: 1658px;
    background: #EEEEEE;
    border-radius: 16px;
    text-align: center;
}

form button{
    border: none;
    width: 336px;
    height: 44px;
    left: 955px;
    top: 1760px;
    background: #000000;
    border-radius: 16px;
    color: #fff;
    text-align: center;
}

form button:hover{
    background-color: #333333;
}

.social-links img{
    height: 30px;
}

.social-links li{
    display: inline;
    margin-right: 8px;
}

.social-links li a{
    text-decoration: none;
}