*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html{
    overflow-x: hidden;
}

.container{
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header{
    background-color: #192a56;
    padding: 16px;
    color: #fff;
}

header > .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
}

.container #logoLoja{
    margin-left: 40px;
    width: 20%;
}

#carrossel_imagens img{
    width: 30%;
    margin: 100px 100px;
    border-radius: 16px;
}

nav{
    background-color: #575fcf;
    padding: 16px 0;
    display: none;
}

nav li{
    list-style: none;
    display: inline;
    margin-right: 16px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

nav li a{
    color: #fff;
    text-decoration: none;
}

.menu_hamburger{
    width: 32px;
    cursor: pointer;
}

.menu_hamburger span{
    height: 2px;
    width: 100%;
    background-color: #fff;
    display: block;
    margin-bottom: 4px;
}

.container_flex{
    display: flex;
}

.contact-methods{
    display: flex;
    justify-content: space-between;
}

.social-links img{
    height: 24px;
}

.social-links li{
    display: inline;
    margin-right: 8px;
}

.social-links li a{
    text-decoration: none;
}

#sobre_a_loja img{
    max-width: 400px;
}

.texto h2, .texto p{
    margin: 16px;
    text-align: justify;
}

.texto h2{
    margin-top: 0;
}

section{
    padding: 48px 0;
}

section h2{
    margin-bottom: 16px;
}

#linha span{
    height: 4px;
    width: 30%;
    background-color: #000000;
    display: block;
    margin-bottom: 4px;
    border-radius: 16px;
}

.categorias{
    flex-wrap: wrap;
}

.categorias th img{
    max-width: 100%;
}


.lista_produtos{
    flex-wrap: wrap;
}

.lista_produtos li{
    list-style: none;
    max-width: 30%;
    margin-bottom: 24px;
}

.lista_produtos li img{
    max-width: 100%;
}

.lista_produtos li h3{
    margin: 16px 0;
}

.item_central{
    margin: 0 5%;
}

.lista_produtos li button{
    display: block;
    width: 100%;
    padding: 8px;
    border: none;
    background-color: #119759;
    color: #fff;
    font-size: 16px;
    font-family: bold;
    font-style: italic;
    cursor: pointer;
    border-radius: 6px;
}

strong, .preco{
    margin: 16px 0;
    display: block;
}

.preco del{
    color: #ccc;
    font-size: 14px;
}

footer{
    position: relative;
    width: 100%;
    height: 661px;
    left: 0px;
    top: 1339px;
    background: rgba(5, 95, 201, 0.8);
    border-radius: 16px 16px 0px 0px;
}

form input,
form textarea,
form button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    
}

form input{
    display: flex;
    margin-bottom: 6px;
    border: none;
    width: 333px;
    height: 35px;
    left: 955px;
    top: 1611px;
    background: #EEEEEE;
    border-radius: 16px;
    text-align: center;
}

form textarea{
    width: 333px;
    height: 90px;
    left: 955px;
    top: 1658px;
    background: #EEEEEE;
    border-radius: 16px;
    text-align: center;
}

form button{
    border: none;
    width: 336px;
    height: 44px;
    left: 955px;
    top: 1760px;
    background: #000000;
    border-radius: 16px;
    color: #fff;
    text-align: center;
}

form button:hover{
    background-color: #333333;
}